<!--
 |  _____      _   _                  ____   ___ ____   ___
 | | ____|    | \ | | __ _ _ __   ___|___ \ / _ \___ \ / _ \
 | |  _| _____|  \| |/ _` | '_ \ / _ \ __) | | | |__) | | | |
 | | |__|_____| |\  | (_| | | | | (_) / __/| |_| / __/| |_| |
 | |_____|    |_| \_|\__,_|_| |_|\___/_____|\___/_____|\___/
 |
 | File: index.html
 | Description:
 |    Archivo html que contiene la estructura de la página web.
 | Authors:
 | - David Alberto Guevara Sánchez
 |   402450355
 | - Joy Bonilla Fley
 |   402360421
 | - Jose Barrantes Araya
 |   207600954
 | - Natalia Solano Azofeifa
 |   117290958
 | - Luis David Villalobos Gonzalez
 |   117540697
 | Group: 03
 | Schedule: 10am
 | Date of modification: 2020-10-04
 +-->

<!DOCTYPE html>
<html lang="es">
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Head                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<head>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                    Configuration                                     │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <title>E-Nano2020</title>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         Meta                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <meta
    charset="utf-8"
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CSS                                          │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="stylesheet" href="css/style.css" />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                       FavIcon                                        │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CDNs                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Bootstrap / Vue                                   | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <!-- Load polyfills to support older browsers -->
    <script
      src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
      crossorigin="anonymous">
    </script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                    Font Awesome                                    | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://kit.fontawesome.com/c3ca684320.js" crossorigin="anonymous"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Prism Editor Vue                                  | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism-tomorrow.css" />
    <script src="https://unpkg.com/vue-prism-editor"></script>
    <script src="https://unpkg.com/prismjs/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs/components/prism-clike.min.js"></script>
    <script src="https://unpkg.com/prismjs/components/prism-java.min.js"></script>
</head>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Body                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<body>
  <div id="app">
    <!-- Navegation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="font-size-30 color-white"><i class="fab fa-etsy"></i>-Nano 2020</div>
      <template>
        <div class="ml-auto">
          <b-button @click="getInfo" :variant="info_status" :disabled="info_disabled">
            <i class="fa" :class="info_class" v-if="!info_disabled"></i>
            <b-spinner small v-else></b-spinner>
            About
          </b-button>
        </div>
      </template>      
    </nav>
    <!-- Modal About-->
    <b-sidebar id="about" bg-variant="dark" text-variant="light" right shadow title="About" v-model="info_show" busy>
      <div class="px-3 py-2">
        <template v-if="info">
          <h5>Project</h5> {{ info.project }}
          <h5>Course</h5> {{ info.course }}
          <h5>Instance</h5> {{ info.instance }}
          <h5>Cycle</h5> {{ info.cycle }}
          <h5>Organization</h5> {{ info.organization }}
          <h5>Project site</h5> <a :href="info.projectSite"> {{ info.projectSite }}</a>
          <h5>Team</h5>
          <b>Code:</b> {{ info.team.code }}
          <br>
          <b>Members:</b>
          <ul>
            <li v-for="member in info.team.members" :key="member.id">
              {{ member.firstName }} {{ member.surnames }} <br>
              {{ member.id }}
            </li>
          </ul>
        </template>
      </div>
    </b-sidebar>
    <b-container fluid>
      <b-row class="min-height-460 mg-2">
        <b-col>
          <prism-editor
            class="editor max-height-460 p-3"
            v-model="input"
            line-numbers
            :highlight="highlightInput">
          </prism-editor>
        </b-col>
        <b-col>
          <prism-editor
            class="editor max-height-460 p-3"
            v-model="output"
            :readonly="true"
            :highlight="highlightOutput">
          </prism-editor>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
          <b-button squared variant="light" @click="cleanInput">
            <i class="fa fa-broom"></i> Clear
          </b-button>
          <b-button squared :variant="btn_status" @click="submit" :disabled="btn_disabled">
            <i class="fa" :class="btn_class" v-if="!btn_disabled"></i>
            <b-spinner small v-else></b-spinner>
            Send
          </b-button>
        </b-col>
        <b-col class="text-center">
          <b-button squared variant="light" @click="cleanOutput">
            <i class="fa fa-broom"></i> Clear
          </b-button>
        </b-col>
      </b-row>
    </b-containe>
    <b-modal
      title="Warning"
      size="sm"
      button-size="sm"
      ok-variant="danger"
      ok-title="Confirm"
      cancel-title="Cancel"
      foorter-class="p-2"
      :hide-header-close="false"
      centered
      v-model="show_confirm"
      @ok="clean">
      Do you want to clean the {{ mode_confirm }} area?
    </b-modal>
  </div>
</body>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                           JS                                           ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</html>
