<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nano-E</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
    />
    <style type="text/css" media="screen"></style>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Ace -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <!-- Prism Editor -->
    <script src="https://unpkg.com/vue-prism-editor"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
    <!-- custom highlighter: -->
    <script src="https://unpkg.com/prismjs/prism.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism-tomorrow.css" />
  </head>
  <body class="bg-primary">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand text-light">Nano-E</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">
            About <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="app">
      <nav class="navbar navbar-expand-lg">
        <button
          class="btn btn-success"
          style="margin-left: 20px"
          @click="run"
        >
          <i class="fa fa-play"> Run </i>
        </button>
      </nav>
      <div class="container-fluid" id="content">
        <prism-editor class="editor height-200" v-model="input" :highlight="highlighter" line-numbers></prism-editor>
        <prism-editor class="editor height-200" v-model="output" :readonly="true" :highlight="highlighter" line-numbers></prism-editor>
      </div>
    </div>
  </body>
  <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</html>
