<!DOCTYPE html>
<html lang="es">
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Head                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<head>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                    Configuration                                     │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <title>E-Nano2020</title>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         Meta                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <meta
    charset="utf-8"
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CSS                                          │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="stylesheet" href="css/style.css" />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                       FavIcon                                        │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CDNs                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Bootstrap / Vue                                   | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <!-- Load polyfills to support older browsers -->
    <script
      src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
      crossorigin="anonymous">
    </script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                    Font Awesome                                    | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://kit.fontawesome.com/c3ca684320.js" crossorigin="anonymous"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                       Axios                                        | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Prism Editor Vue                                  | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://unpkg.com/vue-prism-editor"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
</head>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Body                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<body>
  <div id="app">
    <!-- Navegation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="font-size-30 color-white"><i class="fab fa-etsy"></i>-Nano 2020</div>
      <template>
        <div class="ml-auto">
          <b-button v-b-toggle.about @click="getInfo" variant="dark">
            <i class="fas fa-info-circle"></i> About 
          </b-button>
        </div>
      </template>      
    </nav>
    <!-- Modal About-->
    <b-sidebar id="about" bg-variant="dark" text-variant="light" right shadow title="About" busy>
      <div class="px-3 py-2">
        <h5>Authors</h5>
        <ul>
          <li v-for="name in info.author" :key="name">
            {{ name }}
          </li>
        </ul>
        <h5>Group</h5> {{ info.group }}
        <h5>Course</h5> {{ info.course }}
        <h5>Version</h5> {{ info.version }}
        <h5>Date</h5> {{ info.date }}
        <br>
        <span>
          <i class="fab fa-github font-size-30"></i>
          <a :href="info.github">Link to Repository</a>
        <span>
      </div>
    </b-sidebar>
    <b-container fluid>
      <b-row class=" min-height-460 mg-2">
        <b-col>
          <prism-editor class="editor" v-model="input" :highlight="highlighter" line-numbers></prism-editor>
        </b-col>
        <b-col>
          <prism-editor class="editor" v-model="output" :readonly="true" :highlight="highlighter"></prism-editor>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
          <b-button squared variant="light" @click="cleanInput">
            <i class="fa fa-broom"></i> Clean
          </b-button>
          <b-button squared variant="success" @click="submit">
            <i class="fas fa-play"></i> Submit
          </b-button>
        </b-col>
        <b-col class="text-center">
          <b-button squared variant="light" @click="cleanOutput">
            <i class="fa fa-broom"></i> Clean
          </b-button>
        </b-col>
      </b-row>
    </b-containe>
  </div>
</body>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                           JS                                           ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</html>
