<!DOCTYPE html>
<html lang="es">
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Head                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<head>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                    Configuration                                     │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <title>E-Nano</title>
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         Meta                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <meta
    charset="utf-8"
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CSS                                          │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="stylesheet" href="css/style.css" />
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                       FavIcon                                        │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- ┌──────────────────────────────────────────────────────────────────────────────────────┐ --> 
  <!-- │                                         CDNs                                         │ --> 
  <!-- └──────────────────────────────────────────────────────────────────────────────────────┘ --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Bootstrap / Vue                                   | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <!-- Load polyfills to support older browsers -->
    <script
      src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
      crossorigin="anonymous">
    </script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                    Font Awesome                                    | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://kit.fontawesome.com/c3ca684320.js" crossorigin="anonymous"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                       Axios                                        | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- +------------------------------------------------------------------------------------+ --> 
    <!-- |                                  Prism Editor Vue                                  | --> 
    <!-- +------------------------------------------------------------------------------------+ --> 
    <script src="https://unpkg.com/vue-prism-editor"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
</head>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                          Body                                          ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<body>
  <div id="app">
    <!-- Navegation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="font-size-30 color-white">E-Nano</div>
      <b-button variant="dark" class="ml-auto" v-b-modal.about @click="getInfo">
        About
      </b-button>
    </nav>
    <!-- Modal About-->
    <b-modal variant="ok" id="about" title="About" busy>
      <div>
        <h5>Authors</h5>
        <ul>
          <li v-for="name in info.author" :key="name">
            {{ name }}
          </li>
        </ul>
        <h5>Group</h5> {{ info.group }}
        <h5>Course</h5> {{ info.course }}
        <h5>Version</h5> {{ info.version }}
        <h5>Date</h5> {{ info.date }}
        <br>
        <span>
          <i class="fab fa-github font-size-30"></i>
          <a :href="info.github">Link to Repository</a>
        <span>
      </div>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="dark" @click="ok()">
          Close
        </b-button>
      </template>
    </b-modal>
    <div>
      <b-button variant="success" class="left-40pc marginTopBottom1pc" @click="run">
        <i class="fas fa-play"></i> Run
      </b-button>
      <div class="container-fluid">
        <div class="row height-460">
          <div class="col-6">
            <prism-editor class="editor" v-model="input" :highlight="highlighter" line-numbers></prism-editor>
          </div>
          <div class="col-6">
            <prism-editor class="editor" v-model="output" :readonly="true" :highlight="highlighter"></prism-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <b-button variant="dark" class="left-40pc marginTopBottom1pc" @click="cleanInput">
              <i class="fa fa-broom"></i> Clean
            </b-button>
          </div>
          <div class="col-6">
            <b-button variant="dark" class="left-40pc marginTopBottom1pc" @click="cleanOutput">
              <i class="fa fa-broom"></i> Clean
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- ╔════════════════════════════════════════════════════════════════════════════════════════╗ --> 
<!-- ║                                           JS                                           ║ --> 
<!-- ╚════════════════════════════════════════════════════════════════════════════════════════╝ --> 
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</html>
