html {
  height: 100%;
}

#editor {
  position: absolute;
  right: 5%;
  left: 3%;
  height: 500px;
}

#terminal {
  padding: 20px;
  background-color: black;
  height: 500px;
}

#content {
  height: 515px;
}
