html body{
  height: 100%;
  background-color: #347B9E;
}

pre {
  color: #ccc !important;
}

.height-460{
  height: 460px;
}

.color-white{
  color: white;  
}

.font-size-30{
  font-size: 30px;  
}

.left-40pc{
  margin: 0.5%;
  margin-left: 47%;  
}

.left-20pc{
  margin: 0.5%;
  margin-left: 20%;  
}

.editor {
  color: #ccc;
  background: #2d2d2d;
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}

.modal-about{
  width: 10px;
  height: 10px;
}